<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>588961643605-od26lqeisbsrvari983b2tbr88lkvrbd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.588961643605-od26lqeisbsrvari983b2tbr88lkvrbd</string>
	<key>API_KEY</key>
	<string>AIzaSyADyPBx70ccu7Ynd7cql1eRHUMSQss7msM</string>
	<key>GCM_SENDER_ID</key>
	<string>588961643605</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>do.andando.staging</string>
	<key>PROJECT_ID</key>
	<string>andando-staging</string>
	<key>STORAGE_BUCKET</key>
	<string>andando-staging.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:588961643605:ios:b1847a309b3527bfbae8dc</string>
</dict>
</plist>